*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Sofadi One", system-ui;
}

.container{
   
    margin: auto;
    padding: 36px;
    border-radius: 10px;
    text-align: center;
}

.container h1 , p{
    text-align: center;
    margin: auto;
}

input,textarea{
    width: 80%;
    margin: 8px auto;
    padding: 5px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid black;
    outline: none;
    border-radius: 4px;
    display: block;



}

.btn{
    padding:5px;
    background-color: green;
    border-radius: 5px;
    cursor: pointer;


}
.reset{
    padding: 5px;
    background-color: red;
    border-radius: 5px;
    cursor: pointer;
}

.bg{
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 5px;

}

